*{
  margin: 0;
  padding: 0;
}


body {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  background-image: url('Assets/Background.png');
  min-height: 120vh;
  width: 100vw;
  overflow-x: hidden !important;

}

nav {
display: flex;
justify-content: space-between;
width: 100%;
/* padding: 20px 0; */
color: white;
height: 112px;
align-items: center;
position: fixed;
z-index: 10;
}

nav .logo {
letter-spacing: 3px;
padding-left: 5rem;
}

.logo img{
width: 25%;
height: auto;

}


nav ul {
display: flex;
list-style: none;
width: 40%;
justify-content: space-between;
gap: 3rem;
padding-right: 5rem;
}

nav ul li a {
color: white;
text-decoration: none;
font-size: 1em;
font-weight: bold;
}

nav ul li a:hover {
color:  #E784BA;
}

/* hamburger menu */
.menu-toggle {
display: none;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;
padding-right: 5rem;
}

.menu-toggle input {
position: absolute;
width: 40px;
height: 28px;
left: -6px;
top: -3px;
opacity: 0;
cursor: pointer;
z-index: 2;
}

.menu-toggle span {
display: block;
width: 28px;
height: 3px;
background-color: white;
transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
background-color: white;
transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
opacity: 0;
transform: scale(0);
}

.menu-toggle input:checked~span:nth-child(4) {
background-color: white;
transform: rotate(-45deg) translate(-1px, 0);
}

/* Responsive */
/* ukuran ipad */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 2;
  }

  nav {
    height: 110px;
    /* background-color: white; */
  }

  nav ul {
    position: absolute;
    background-color: #0B1E49;
    right: 0;
    top: 3rem;
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.8s;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  nav .logo {
    width: 500px;
    padding-top: 0.8rem;
    padding-left: 3.5rem;
  }
}