*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('Assets/Background.png');
  font-family: hiragino-kaku-gothic-pron, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* background-color: red; */
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding-right: 20px;
}

nav div img {
  width: 180px;
  padding: 0px 0px;
  /* background-color: wheat; */
}


nav ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 600;
  padding: 8px 3px;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: #E784BA;
}

/* icon list */
.menu-icon {
  /* background-color: tomato; */
  font-size: 24px;
  display: none;
}

/* main {
  padding-top: 6rem;
} */

/* ukuran ipad */
@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    /* jika ingin posisi tulisan tidak bergerak*/
    /* position: fixed;
    width: 100%;
    top: 0; */
    
  }

  nav div img{
    width: 150px;
  }

  nav ul{
    /* display: none; */
    flex-direction: column;
    width: 100%;
  }


  nav ul li:last-of-type{
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    color: white;
    display: flex;
    align-items: center;
  }
}